:root {
    --main-brown01: #a5836a;
    --main-brown02: #584439;
    --main-yellow: #F6BC50;

}
/* Global Font Family */
* {
  font-family: "Wanted Sans", sans-serif;
  letter-spacing: -0.03em;
  transition: 0.2s ease-out;
}



.btn {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
    padding: 16px 24px;
    border-radius: 999px;
    color: #fff;
}
.btn.default {
  color: #000;
  border: 1px solid #000;
}
.btn.default:hover {
  color: #fff;
  background: #000;
}

.btn.sub {
  color: #fff;
  background: var(--main-brown02);
}
.btn.sub:hover {
  background: var(--main-brown01);
}

.btn.md {
    padding: 16px 24px;
}

.btn.active {
    background-color: var(--main-brown01);
    color: #fff;
}

/* PC Font Sizes */
.HeroText { font-size: 50px; font-weight: 700; }
.MainSectionTitleNO { font-size: 24px; }
.MainSectionTitle { font-size: 44px; }
.PageTitleText { font-size: 64px; font-weight: 700;}
.PageSubTitleText { font-size: 22px; }
.SectionTitleText { font-size: 36px; line-height:1.3;}
.BannerTitleText { font-size: 50px; }
.H1 {font-size: 48px; line-height: 1.2;}
.H3 {font-size: 30px; line-height: 1.4;}
.H4 {font-size: 24px; line-height: 1.2;}
.H5 {font-size: 20px; line-height: 1.5;}
.H6 {font-size: 18px; line-height: 1.6; }

/* Mobile Font Sizes */
@media (max-width: 768px) {
  .HeroText { font-size: 35px; }
  .MainSectionTitleNO { font-size: 18px; }
  .MainSectionTitle { font-size: 26px; }
  .PageTitleText { font-size: 40px; }
  .PageSubTitleText { font-size: 15px; }
  .SectionTitleText { font-size: 24px; }
  .BannerTitleText { font-size: 26px; }
}